<!-- <p>submitted-form works!</p> -->
<!-- <div>{{arr}}</div> -->
<header>
    {{arr[2]}}
</header>
<table class="formStyle">
    <tr>
        <td>Name</td>
        <td>: {{arr[0]+" "+ arr[1]}}</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>:{{arr[3]}}</td>
    </tr>
    <tr>
        <td>EmailId</td>
        <td>:{{arr[4]}}</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>:{{arr[5]}}</td>
    </tr>
    <tr>
        <td>{{arr[6]}}</td>
        <td>{{arr[7]}}</td>
    </tr>
</table>
